html {
    height: 100%;

}

.attribution {
    padding-top: 50px;
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    padding-top: 30px;
}

main {
    height: 70%;
    
    width: 20%;
    border-radius: 3%;
    margin: auto;
    background-color: hsl(216, 50%, 16%);
    padding-top: 4px;

}

.image-wrapper {
    height: 50%;
    width: 90%;
    border-radius: 3%;
    margin: 5%;
    background-image: url(image-equilibrium.jpg);
    background-size: 100%;
    margin-bottom: 20px;

}

.image {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image:hover {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    background-image: url(icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-size: 20%;
    background-color: rgba(0, 255, 247, .4);
}

.CreatorName:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%)
}

.heading {
    font-size: 17px;
    font-weight: 900;
    margin-left: 12px;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    padding-left: 10px;
}

.ETH {
    display: inline;
    color: hsl(178, 100%, 50%);
    font-size: 15px;

}

.ETH-SVG {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}

.clock {
    display: inline-block;
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    margin-left: 63px;
}

.clock-SVG {
    float: left;
}

hr {
    border-bottom: 0;
    border-top: 1px solid hsl(215, 51%, 70%);
    border-left: 0;
    border-right: 0;
    margin: 5px;
    margin-top: 20px;
}

.creator-detail {
    display: inline-block;
    padding: 10px;
    width: 90%;
}

.avatar {
    float: left;
    border: 2px solid white;
    border-radius: 50%;
    height: 15%;
    width: 15%;
    margin-right: 10px;
}

.Name {
    display: inline-block;
    font-size: 15px;
    padding-top: 10px;
}

.heading:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
